version: "3.8"
services:
  backend:
    build: ./backend
    volumes:
      - .:/workspace
    ports:
      - "8000:8000"
  frontend:
    build: ./frontend
    volumes:
      - .:/workspace
    ports:
      - "3000:3000"